<% if (!submittedAssignment[0]) { %>

  <br />

  <% include sidebar %>

  <div class="student-container">
    <form method="POST" action="/dashboard/student/?_method=POST">
      <label>GitHub URL:</label>
      <input type="text" name="github-url" value="" size=40></>
      <button type="submit">Submit</button>
    </form>
  </div>

<% } else { %>

  <% if (submittedAssignment[0].status == 'Marked') { %>

    <% include codemirror %>

  <% } else if (submittedAssignment[0].status == 'Submitted') { %>
    <br />

    <% include sidebar %>

    <div class="student-container">
      <form method="POST" action="/dashboard/student/?_method=DELETE">
        <label>Assignment pending...</label>
        <button type="submit">Resubmit</button>
      </form>
    </div>
  <% } %>

<% } %>




