<script type="text/javascript">
  var submittedID = (<%- submittedAssignment[0].dataValues.id %> || 0)
</script>

<% if (!submittedAssignment[0]) { %>

  <div class="student-container text-center">
    <form method="POST" action="/dashboard/student/?_method=POST">
      <label class="a-student-label">GitHub URL:</label><br />
      <input type="text" name="github_url" value="" size=40 class="github-url-input">
      <input type="hidden" name="assignment_id" value="<%= assignmentId %>">
      <input type="hidden" name="user_id" value="<%= userId %>"><br />
      <button type="submit" class="a-student-button submit-button">Submit</button>
    </form>
  </div>

<% } else { %>

  <% if (submittedAssignment[0].status == 'Marked') { %>

    <script language="javascript">
      window.location.href = `/codemirror2/${submittedID}`
    </script>


  <% } else if (submittedAssignment[0].status == 'Submitted') { %>

    <div class="student-container text-center">
      <form method="POST" action="/dashboard/student/<%= submittedAssignment[0].id %>?_method=DELETE">
        <label class="a-student-label">Assignment pending...</label><br />
        <button type="submit" class="a-student-button">Resubmit</button>
      </form>
    </div>

  <% } %>

<% } %>
