<link rel="stylesheet" href="/jstree/dist/themes/default/style.min.css" />
<script src="/jstree/dist/jstree.min.js"></script>
<script src="/scripts/tree.js"></script>
<link rel="stylesheet" href="/stylesheets/resources/fonts/devicons.css" />

<script>
        var repoURL = "<%= repoURL %>"
</script>

<style type="text/css">
      .CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}

      .treeview .list-group-item {
      	cursor: pointer;
      }

      .treeview span.indent {
      	margin-left: 10px;
      	margin-right: 10px;
      }

      .treeview span.icon {
      	width: 12px;
      	margin-right: 5px;
      }

      .treeview .node-disabled {
      	color: silver;
      	cursor: not-allowed;
      }
</style>

<br />





<div>
  <p style="color: white; margin-left: 7%;">Current mode: <span id="modeinfo">text/plain</span></p>
</div>
<div class="code-container">
  <div class="comment-container">
    <article class="comments">Comments</article>
  </div>
  <%# <h1 class="page-header" style="margin-top:0px;">CODE</h1>%>
  <article id="editor"></article>
</div>


<script type="text/javascript" src="/scripts/codemirror.js" delay></script>
