<link rel="stylesheet" href="/jstree/dist/themes/default/style.min.css" />
<script src="/jstree/dist/jstree.min.js"></script>
<script src="/scripts/tree-mentor.js"></script>
<link rel="stylesheet" href="/stylesheets/resources/fonts/devicons.css" />

<script>
        var subID = <%- sub_id %>
        var repoURL = <%- repoURL %>

</script>

<style type="text/css">
      .CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}

      .treeview .list-group-item {
      	cursor: pointer;
      }

      .treeview span.indent {
      	margin-left: 10px;
      	margin-right: 10px;
      }

      .treeview span.icon {
      	width: 12px;
      	margin-right: 5px;
      }

      .treeview .node-disabled {
      	color: silver;
      	cursor: not-allowed;
      }

      .sidebar {
        color: black;
        position: absolute;z-index:1000;
      }
      .list-group-item {
        border-radius: 4px;
        position: relative;
        display: block;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 0;
        margin-bottom: 0;
      }

      .list-group {
        margin-bottom: 5px;
      }

      .panel {
        margin-left: 5px;
      }

</style>

<br />





<div>
  <p style="color: white; margin-left: 7%;">Current mode: <span id="modeinfo">text/plain</span></p>
</div>
<div class="code-container">
  <div class="comment-container">
    <article class="comments" id="comments">

    </article>


  </div>
  <article id="editor"></article>
</div>


<script type="text/javascript" src="/scripts/codemirror.js"></script>
