.code-container {
 margin-top: -1%;
 opacity: 0.95;
 height: 75%;
 width: 93%;
 margin-left: 7%;
}

#editor{
  border-right: 1px solid black;
  width: 70%;
  height: 100%;
  /*width: 900px;*/
  /*height: 579px;*/
  background-color: rgba(250, 250, 250, 0.6);
}

.comment-container {
  overflow: scroll;
  width: 30%;
  height: 100%;
  float: right;
  padding-left: 5%;

}

.comments {
  padding-top: 5px;
  border-radius: 8px;
  border: 1px solid black;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.6);
}

.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}

.treeview .list-group-item {
  cursor: pointer;
}

.treeview span.indent {
  margin-left: 10px;
  margin-right: 10px;
}

.treeview span.icon {
  width: 12px;
  margin-right: 5px;
}

.treeview .node-disabled {
  color: silver;
  cursor: not-allowed;
}

.sidebar {
  color: black;
  position: absolute;z-index:1000;
}

.list-group-item {
  border-radius: 4px;
  position: relative;
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
}
