.code-container {
 margin-top: -1%;
 opacity: 0.95;
 height: 75%;
 width: 100%;
 margin-left: 7%;
}

#editor{
  border-right: 1px solid black;
  width: 70%;
  height: 100%;
  /*width: 900px;*/
  /*height: 579px;*/
  background-color: rgba(250, 250, 250, 0.6);
}

.comment-container {
  overflow: scroll;
  width: 30%;
  height: 100%;
  float: right;
  padding-left: 5%;

}

.comments {
  border-radius: 8px;
  border: 1px solid black;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.6);
}
